<h1>Ports</h1>

<ul>
  <% @ports.each do |port| %>
    <li class="port-<%= port.id %>"><%= port.name %>
      <%= port.created_at.strftime("Created on %m/%d/%Y") %>
      <%= link_to("Edit","/ports/#{port.id}/edit") %>
    </li>
  <% end %>
</ul>
