<h1>Relational Rails</h1>


<p>This is a two week paired project builds a CRUD database with 4 tables (Vehicles => Passengers, Ports => Ships). Users can navigate to any of these four tables using the navigation links at the top of the browser window. Users are then able to create new records, read individual records, update records, or destroy records. Relational Rails is a <%= link_to 'Turing School of Software and Design', 'https://turing.io/' %> Back End Mod 2 Project.</p>

<h2>Installation and Setup</h2>

<p>In your terminal run the following commands to install this project locally on your computer:</p>

<ul>
  <li>git clone https://github.com/GrayMyers/relational_rails.git</li>
  <li>cd relational rails</li>
  <li>bundle install</li>
  <li>rails db:create</li>
  <li>rails db:migrate</li>
  <li>rails s</li>
</ul>

<p>The application should now be running on http://localhost:3000/</p>

<h2>Learning Goals</h2>

<ul>
  <li>Design a one to many relationship using a schema designer</li>
  <li>Write migrations to create tables with columns of varying data types and foreign keys</li>
  <li>Use Rails to create web pages that allow users to CRUD resources</li>
  <li>Create instance and class methods on a Rails model that use ActiveRecord methods and helpers</li>
  <li>Write model and feature tests that fully cover data logic and user behavior</li>
</ul>

<h2>Technologies Used</h2>

<ul>
  <li>Atom</li>
  <li>Git</li>
  <li>GitHub</li>
  <li>GitHub Projects</li>
  <li>Ruby</li>
  <li>Rails</li>
  <li>RSpec</li>
  <li>SimpleCov</li>
  <li>Slack</li>
  <li>Zoom</li>
  <li>Orderly</li>
</ul>

<h2>Contributors</h2>

<ul>
  <li><%= link_to 'Grayson Myers', 'https://github.com/GrayMyers' %></li>
  <li><%= link_to 'Ryan Barnett', 'https://github.com/RyanDBarnett' %></li>
</ul>
