<h1>Vehicles</h1>
<p><a href="/vehicles/new" id="creation link">Create a new vehicle!<a><p>
<ul>
  <% @vehicles.each do |vehicle| %>
    <li>
      <h3><%= vehicle.name %></h3>
    </li>
  <% end %>
</ul>
